body,
html {
  font-family: sans-serif;
  height: 100%;
}

body {
  background-image: radial-gradient(rgb(61, 43, 177), rgb(0, 0, 6));
  background-size: cover;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  border-bottom-left-radius: 15px;
  margin: 0.5em;
  color: white;
}

form div {
  margin: 1em;
  display: inline-block;
}
h1 {
  color: rgb(255, 255, 255);
}

.navbar h1 {
  margin: 0px;
  line-height: 90px;
  font-family: "Zen Dots", cursive;
}
.pokemonContainer {
  border: 1px solid white;
  margin: 30px;
  padding: 30px;
  border-radius: 20px;
  color: aliceblue;
  background-image: radial-gradient(rgba(84, 2, 249, 0.673), rgb(13, 1, 26));
  text-align: center;
  height: 250px;
}
.pokemonContainer a {
  color: aliceblue;
}
.pokemonContainer h3 {
  text-align: center;
}
.pokemonContainer ul {
  list-style-type: none;
}
.pokemonContainer li {
  text-align: center;
  border: 1px solid white;
  border-radius: 3px;
  margin: 7px;
}
.pokeimage {
  block-size: 130px;
}
.here p {
  text-align: center;
  padding: 3px;
}
.here div {
  border: 1px solid white;
  border-radius: 3px;
  margin: 7px;
}
.pokemonlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

h1 {
  display: flex;
  justify-content: center;
}

.sft {
  color: white;
  text-transform: uppercase;
  font-size: 23px;
  margin: -50px 0 80px 0;
  display: block;
  text-align: center;
}

.authFormSignup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #6772e5; */
  /* background-image: radial-gradient(rgba(92, 3, 169, 0.879), rgb(47, 0, 94)); */
  padding: 0px 80px;
}

#type {
  color: white;
  font-size: 17px;
}
.cartItem {
  color: whitesmoke;
}
